.landing-page-logo {
	width: 384px;
	margin: 0 auto;
}

.landing-page-authenticator-icon {
	height: 128px;
	margin-bottom: 12px;
}

.landing-page-whitespace-128px {
	height: 128px;
}

.landing-page-whitespace-64px {
	height: 64px;
}

.landing-page-whitespace-32px {
	height: 32px;
}

.landing-page-top-container {
	float: none;
	margin: 0 auto;
}

.hr-footer {
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 6px;
}

.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.g-signin2 {
  width: 100%;
}

.g-signin2 > div{
  margin: 0 auto;
	margin-top: 12px;
	margin-bottom: 12px;
}

.no-margin-bottom {
	margin-bottom: 0px !important;
}

.margin-12px {
	margin: 12px !important;
}

.material-icons.md-14 {
	font-size: 14px;
}

.icon-left-padding {
	padding-left: 6px;
}

.navbar-logo {
	height: 20px;
}

.navbar-text {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.navbar-top {
	margin-bottom: 32px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
	display: block;
	padding: 12px;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

/* Sidebar navigation */
.nav-sidebar {
  /*margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;*/
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #4699C3;
}
.nav-sidebar > hr {
	margin-top: 0px;
	margin-bottom: 12px;
}

.sidebar-hello {
	font-family: 'Cormorant', serif;
	font-weight: 500;
	font-style: italic;
	margin-bottom: 8px;
	font-size: 28px;
}

.sidebar-label {
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 10px;
}

.container-mainbody {
	margin-left: 16px;
	margin-right: 32px;
}

.page-header.mainbody-header {
	margin-top: 0px;
}

#chartCenter {
	/*display:inline-block;*/
}


/*svg {
	width: 100%;
	height: 100%;
}*/

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

mark {
	border-radius: 10px;
	font-weight: 600;
	padding-left: 6px;
	padding-right: 6px;
}

body {
	font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.table.table-vertical-align > tbody > tr > td {
	vertical-align: middle;
}

.vert-align {
	vertical-align: middle;
}

.input-group {
    display: inline-table;
    vertical-align: middle;

    .input-group-addon,
    .input-group-btn,
    .form-control {
        width: auto !important;
    }
}
