.jumbotron-add-padding {
  padding-left: 60px;
  padding-right: 60px;
}

h2 {
  font-family: 'Roboto', sans-serif;
	margin-bottom: 15px;
  font-weight: 400;
}

body {
	font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.label-inline {
  display: inline-block;
  margin: 0px;
  vertical-align: middle;
  padding-top: 6px;
  padding-bottom: 6px;
}

.warning-inline {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  line-height: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #faebcc;
  background-color: #fcf8e3;
  color: #8a6d3b;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

/*.heroes td {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}*/
/*.heroes td.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}*/
.heroes tr:hover {
  color: #607D8B;
  background-color: #DDD;
  /*left: .1em;*/
  border-radius: 4px;
  font-weight: bold;
  /*left: -1px;
  top: -4px;*/
}

.hero:hover {
  color: #fff;
  background-color: #337ab7;
  border-radius: 4px;
  border: 1px solid transparent;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
  cursor: hand;
  font-weight: bold;
}

.search-result{
  vertical-align: middle;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  min-width: 160px;
  height: auto;
  width: auto;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #fff;
  cursor: pointer;
  margin-top: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,.175);
}
.search-result:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
  font-weight: bold;
}

.custom-dropdown {
  position: static;
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  clear: left;
  padding: 12px;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: inherit;
  min-width: 160px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  overflow: hidden;
  overflow-y: scroll;
  min-height: 160px;
  height: 160px;
  max-height: auto;
}

.custom-dropdown-entry {
  padding: 8px;
  
}

.custom-dropdown-entry:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}


/*.heroes .text {
  position: relative;
  top: -3px;
}
.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}*/
