<div class="row" style="margin: 15px;">
  <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="row">
      <vert-bar-chart></vert-bar-chart>
      <vert-bar-chart></vert-bar-chart>
      <vert-bar-chart></vert-bar-chart>
      <!--<div class="col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-default">
          <div class="panel-body" style="display: flex; justify-content: center; align-items: center; height: 400px;">
            <test-chart></test-chart>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-default">
          <div class="panel-body" style="display: flex; justify-content: center; align-items: center;">
            <span style="display: inline-block; vertical-align: middle; line-height: normal;"><h2>Test 2</h2></span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-default">
          <div class="panel-body" style="display: flex; justify-content: center; align-items: center;">
            <span style="display: inline-block; vertical-align: middle; line-height: normal;"><h2>Test 3</h2></span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-default">
          <div class="panel-body" style="display: flex; justify-content: center; align-items: center;">
            <span style="display: inline-block; vertical-align: middle; line-height: normal;"><h2>Test 4</h2></span>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>

<div class="row" style="margin: 15px;">
  <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <h2>Top Heroes</h2>
    <div class="row">
      <div *ngIf="topHeroes; else loadingBlock">
        <div *ngFor="let hero of topHeroes">
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <div class="caption" style="padding: 18px;">
                <h3 style="margin-top: 10px; margin-bottom: 10px;">{{hero.name}}</h3>
                <p>This hero has an id of {{hero.id}}.</p>
                <p><a [routerLink]="['/detail', hero.id]" class="btn btn-primary" role="button">View Details</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #loadingBlock>
        <div class="jumbotron jumbotron-add-padding">
          <h1>Loading Hero Dashboard ...</h1>
          <p>Please be patient! We will display the dashboard as soon as it is ready.</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<hero-search></hero-search>
