<div class="row" style="margin: 15px;">
  <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="jumbotron jumbotron-add-padding" *ngIf="randomHero && heroes; else loadingBlock">
      <h1>Random hero of the day is <span class="hero" (click)="onSelect(randomHero); onClickView()">{{ randomHero.name }}</span>!</h1>
      <!-- <p>The rest of the roster: {{ randomHero.listHeroesExcluding(heroes) }}</p> -->
      <p>The rest of the roster: <span *ngFor="let hero of randomHero.getHeroesExcluding(heroes); let i = index"><span [ngClass]="['hero']" (click)="onSelect(hero); onClickView()">{{ hero.name }}</span>{{ helperService.getPostSpacer(i, randomHero.getHeroesExcluding(heroes).length) }}</span></p>
    </div>
    <ng-template #loadingBlock>
      <div class="jumbotron jumbotron-add-padding">
        <h1>Loading Hero Roster ...</h1>
        <p>Please be patient! We will display the roster of heroes as soon as it is loaded</p>
      </div>
    </ng-template>
  </div>
</div>

<new-hero></new-hero>

<div class="row" style="margin: 15px;">
  <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <h2>Hero Roster</h2>
    <table class="table table-condensed heroes">
      <thead>
      <tr>
        <th class="col-xs-1 col-sm-1 col-md-1">ID</th>
        <th>Name</th>
        <th class="col-xs-2 col-sm-2 col-md-2" style="text-align: center;">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <td>{{hero.id}}</td>
        <td><span [ngClass]="['hero']">{{hero.name}}</span></td>
        <td style="text-align: center;"><button type="button" class="btn btn-danger" (click)="delete(hero); unselect(hero); $event.stopPropagation();">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="selectedHero">
  <div class="row" style="margin: 15px;">
    <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">You've selected <span style="font-weight: bold;">{{selectedHero.name}}</span>.</h3>
        </div>
        <div class="panel-body">
          <label class="label-inline">ID: </label> <p class="label-inline">{{selectedHero.id}}</p>
          <label class="label-inline">Name: </label> <p class="label-inline">{{selectedHero.name}}</p>
          <button type="button" class="btn btn-default" (click)="onClickView()">View More Details</button>
          <!-- <a [routerLink]="['/detail', selectedHero.id]" class="btn btn-primary" role="button">View Details</a> -->
        </div>
    </div>
  </div>
</div>
