<div class="col-sm-6 col-md-6 col-lg-4">
  <div class="panel panel-default">
    <div #panel class="panel-body" style="display: flex; justify-content: center; align-items: center; height: 350px;" (window:resize)="onResize(panel.getBoundingClientRect())">
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="DATA"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        [timeline]="timeline"
        [curve]="curve"
        [xAxisTickFormatting]="xAxisTickFormatting"
        (select)="onSelect($event)">
      </ngx-charts-line-chart>
    </div>
    <div class="panel-footer">
      <div class="form-inline">
        <span style="margin-right: 8px;">Step:
          <span *ngIf="showStep; else notStep" (click)="toggleShowStep()" class="options-icon">
            <span class="fa fa-check-square-o" ></span>
          </span>
          <ng-template #notStep><span class="options-icon" (click)="toggleShowStep()">
            <span class="fa fa-square-o"></span>
          </span></ng-template>
        </span>
      </div>
    </div>
  </div>
</div>