<div class="col-sm-12 col-md-6 col-lg-6">
  <div class="panel panel-default">
    <div #panel class="panel-body" style="display: flex; justify-content: center; align-items: center; height: 350px;" (window:resize)="onResize(panel.getBoundingClientRect())">
      <ngx-charts-advanced-pie-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="SINGLE"
        [gradient]="gradient"
        (select)="onSelect($event)">
      </ngx-charts-advanced-pie-chart>
    </div>
  </div>
</div>