<div class="col-sm-12 col-md-6 col-lg-6">
  <div class="panel panel-default">
    <div #panel class="panel-body" style="display: flex; justify-content: center; align-items: center; height: 350px;" (window:resize)="onResize(panel.getBoundingClientRect())">
      <ngx-charts-advanced-pie-chart #pieAdvancedChart
        [view]="view"
        [scheme]="colorScheme"
        [results]="DATA"
        [gradient]="gradient"
        [label]="label"
        (select)="onSelect($event)">
      </ngx-charts-advanced-pie-chart>
    </div>
    <div class="panel-footer">
      <div class="form-inline">
        <span style="margin-right: 8px;">Top:
          <span *ngIf="collapseExtreme; else notCollapsed" (click)="toggleCollapseExtreme()" class="options-icon">
            <span class="fa fa-check-square-o" ></span>
          </span>
          <ng-template #notCollapsed><span class="options-icon" (click)="toggleCollapseExtreme()">
            <span class="fa fa-square-o"></span>
          </span></ng-template>
        </span>
        <!--<span style="margin-right: 8px;">
          <span (click)="saveAsSvg()" class="options-icon">
            <span class="fa fa-file-code-o"></span>
          </span>
        </span>-->
      </div>
    </div>
  </div>
</div>