<div class="col-sm-6 col-md-6 col-lg-4">
  <div class="panel panel-default">
    <div #panel class="panel-body" style="display: flex; justify-content: center; align-items: center; height: 350px;" (window:resize)="onResize(panel.getBoundingClientRect())">
      <ngx-charts-bar-vertical 
        [view]="view"
        [scheme]="colorScheme"
        [results]="DATA"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [barPadding]="barPadding"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </div>
    <div class="panel-footer">
      <div class="form-inline">
        <span style="margin-right: 8px;">Sort:
        <span [style.color]="sortAsc ? '#fe9c76':''" (click)="setSortOrderAsce()" class="options-icon">
          <span class="fa fa-sort-amount-asc" style="margin-left: 4px; margin-right: 4px; -ms-transform: rotate(270deg); -webkit-transform: rotate(270deg); transform: rotate(270deg);">
          </span>
        </span>
        <span [style.color]="sortAsc ? '':'#fe9c76'" (click)="setSortOrderDesc()" class="options-icon">
          <span class="fa fa-sort-amount-desc" style="margin-left: 4px; margin-right: 4px; -ms-transform: rotate(270deg); -webkit-transform: rotate(270deg); transform: rotate(270deg);">
          </span>
        </span>
        </span>
        <span style="margin-right: 8px;">Top:
          <span *ngIf="collapseExtreme; else notCollapsed" (click)="toggleCollapseExtreme()" class="options-icon">
            <span class="fa fa-check-square-o" ></span>
          </span>
          <ng-template #notCollapsed><span class="options-icon" (click)="toggleCollapseExtreme()">
            <span class="fa fa-square-o"></span>
          </span></ng-template>
        </span>
        </div>
    </div>
    <!--<div class="panel-footer"><span style="margin-right: 12px;">Sort</span>
      <label class="radio-inline">
        <input #radio type="radio" name="sortOrder" value="asce" (click)="handleSort($event)"> Asce
      </label>
      <label class="radio-inline">
        <input #radio type="radio" name="sortOrder" value="desc" checked="checked" (click)="handleSort($event)"> Desc
      </label>
    </div>
  </div>-->
</div>