<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Sample Finance App</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="finance.js"></script>
    <script src="currencyConverter.js"></script>
  </head>
  <body>
    <div ng-app="finance" ng-controller="financeController as finance">
      <div class="col-sm-12 col-md-12">
        <h3>Invoice</h3>
        <div>
          Quantity: <input type="number" min="0" ng-model="finance.quantity" required>
        </div>
        <div>
          Cost Per Unit: <input type="number" min="0" ng-model="finance.cost" required>
          <select ng-model="finance.inputCurr">
            <option ng-repeat="currency in finance.currencies">{{currency}}</option>
          </select>
        </div>

        <div>
          <h3>Total</h3>
          <span ng-repeat="c in finance.currencies">{{finance.total(c) | currency: c}}<br/></span>
        </div>
        <div style="margin-top: 12px;">
          <button class="btn" ng-click="finance.pay()">Pay!</button>
        </div>
      </div>
    </div>
  </body>
</html>
